.container {
	width: 90%;
	padding: 25px;
  margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
}

// Similar to a row
.grid-content {
	display: grid;
	grid-template-columns: repeat(#{$grid-columns}, 1fr);
  grid-wrap: wrap;
}

// defining Columns
[class*="col-"] {
	padding: 0 ($grid-gutter-width/2);
  border: 1px solid black;
}

@for $i from 1 through $grid-columns {
	.col-xs-#{$i} {
		grid-column: span $i;
	}
}

@include small {
	@for $i from 1 through $grid-columns {
		.col-md-#{$i} {
			grid-column: span $i;
		}
	}
}

@include medium {
	@for $i from 1 through $grid-columns {
		.col-lg-#{$i} {
			grid-column: span $i;
		}
	}
}