.table {
  width: 100%;
  display: block;

  thead {
    width: 100%;
    display: block;
  }

  tbody {
    width: 100%;
    display: block;
  }

  th {
    text-align: left;
    font-size: 1.3rem;
    padding: 5px 0;
  }

  td {
    word-break: break-all;
    hyphens: auto;
  }

  &__tr-index {
    display: grid;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }

  &__tr-admin {
    display: grid;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
  }

  &__row {
    padding: 10px 0
  }
}