<tr>
  <td><%= @song.band %></td>
  <td><%= @song.title %></td>
  <td><%= @song.performer_name %></td>
  <td><%= @song.archived %></td>
  <td>
    <%= link "Archive", to: Routes.song_path(@conn, :delete, @song), method: :delete, data: [confirm: "Are you sure?"] %>
  </td>
</tr>