<li>
  <div class="songlist__song">
    <span class="songlist__title"><%= @song.title %></span> by <span class="songlist__artist"><%= @song.band %></span>
  </div>
  <div class="songlist__performance">
    performed by <span class="songlist__performer"><%= @song.performer_name %></span>
  </div>
</li>