<h1 class="headline__big">Pottpourri Songlist</h1>
<%= link "New Song", to: Routes.song_path(@conn, :new), class: "button button__add-new" %>
<table class="table">
  <thead>
    <tr class="table__tr-index">
      <th>Band</th>
      <th>Title</th>
      <th>Performer</th>
    </tr>
  </thead>
  <tbody data-songlist>
    <%= for song <- @songs do %>
      <%= render("_song.html", song: song) %>
    <% end %>
  </tbody>
</table>


