<h1>Listing Songs</h1>

<table>
  <thead>
    <tr >
      <th>Band</th>
      <th>Title</th>
      <th>Performer name</th>
    </tr>
  </thead>
  <tbody data-songlist>
    <%= for song <- @songs do %>
        <tr>
          <td><%= song.band %></td>
          <td><%= song.title %></td>
          <td><%= song.performer_name %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<span><%= link "New Song", to: Routes.song_path(@conn, :new) %></span>
