<h1>Listing Songs</h1>

<table>
  <thead>
    <tr >
      <th>Band</th>
      <th>Title</th>
      <th>Performer name</th>
    </tr>
  </thead>
  <tbody data-songlist>
    <%= for song <- @songs do %>
      <%= render("_song.html", song: song) %>
    <% end %>
  </tbody>
</table>

<span><%= link "New Song", to: Routes.song_path(@conn, :new) %></span>
